<!-- ##### Preloader ##### -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="circle-preloader">
        <img src="/img/core-img/logo.png" alt="">
        <div class="foode-preloader">
            <span></span>
        </div>
    </div>
</div>
<!-- ##### Hero Area Start ##### -->

<section class="hero-area">
    <div class="hero-post-slides owl-carousel">
        <!-- Single Hero Post -->
        {{#each list}}
        <div class="single-hero-post">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(uploads/img_titles/{{this.image}});"></div>
            <!-- Post Content -->
            <div class="hero-slides-content">
                <p>{{timeago this.created_at}}</p>
                <a href="/post/{{this.slug}}" class="post-title">
                    <h4>{{this.name_post}}</h4>
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</section>
<!-- ##### Hero Area End ##### -->


<!-- ##### Blog Content Area Start ##### -->
<section class="blog-content-area section-padding-100">
    <div class="container">

        <div class="row justify-content-center">
            <!-- Blog Posts Area -->
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">
                    {{#each post}}
                    <!-- Single Blog Post -->
                    <div class="single-blog-post d-flex flex-wrap mt-50">
                        <!-- Thumbnail -->
                        <div class="post-thumbnail mb-50">
                            <a href="/post/{{this.slug}}"><img src="uploads/img_titles/{{this.image}}" alt=""
                                    style="width: 100%"></a>
                        </div>
                        <!-- Content -->
                        <div class="post-content mb-50">
                            <p class="post-date">{{timeago this.created_at}} / {{this.cate_name}}</p>
                            <a href="/post/{{this.slug}}" class="post-title">
                                <h4>{{this.name_post}}</h4>
                                <a href="#"><i class="fa fa-eye"></i> {{this.view}}</a>
                            </a>
                            <p class="post-excerpt">{{this.title}}</p>
                            <a href="/post/{{this.slug}}" class="read-more-btn">Chi Tiết Bài Viết<i
                                    class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                        <!-- Post Curve Line -->
                        <img class="post-curve-line" src="img/core-img/post-curve-line.png" alt="">
                    </div>
                    {{/each}}
                </div>
                <!-- Pager -->
                <ol class="foode-pager mt-50">
                    <li {{#unless can_go_prev}}style="pointer-events: none;" {{/unless}}><a
                            href="?page={{prev_value}}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                    </li>
                    <li {{#unless can_go_next}}style="pointer-events: none;" {{/unless}}><a
                            href="?page={{next_value}}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </li>
                </ol>
            </div>

            <!-- Blog Sidebar Area -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                <div class="post-sidebar-area">


                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>Danh mục</h6>
                        </div>
                        <!-- Tags -->
                        <ol class="popular-tags d-flex flex-wrap">
                            {{#each lcCategory}}
                            <li><a href="cate/{{this.slug}}">{{this.cate_name}}</a></li>
                            {{/each}}
                        </ol>
                    </div>

                    <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>Bài viết gần đây</h6>
                        </div>
                        {{#each lcpostTang}}
                        <!-- Single Latest Posts -->
                        <div class="single-latest-post d-flex">
                            <div class="post-thumb">
                                <img src="uploads/img_titles/{{this.image}}" alt="">
                            </div>
                            <div class="post-content">
                                <a href="/post/{{this.slug}}" class="post-title">
                                    <h6>{{this.name_post}}</h6>
                                </a>
                                <div class="post-meta">
                                    <a href="#"><i class="fa fa-eye"></i> {{this.view}}</a>
                                </div>
                                <a href="/post/{{this.slug}}"
                                    class="post-author"><span></span>{{timeago this.created_at}}</a>
                            </div>
                        </div>
                        {{/each}}

                    </div>
                    {{!-- <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>Newsletter</h6>
                        </div>
                        <!-- Content -->
                        <div class="newsletter-content">
                            <p>Subscribe our newsletter gor get notification about new updates, information discount,
                                etc.</p>
                            <form action="#" method="post">
                                <input type="email" name="email" class="form-control" placeholder="Your email">
                                <button><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div> --}}

                    <!-- ##### Single Widget Area ##### -->


                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Instagram Area Start ##### -->
<div class="follow-us-instagram">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>Follow Us On Instagram</h2>
                    <span>@foodeblog</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="instagram-slides owl-carousel">
                    <!-- Single Instagram Slide -->
                    <div class="single-instagram-slide">
                        <img src="/img/blog-img/insta1.jpg" alt="">
                        <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                    </div>

                    <!-- Single Instagram Slide -->
                    <div class="single-instagram-slide">
                        <img src="/img/blog-img/insta2.jpg" alt="">
                        <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                    </div>

                    <!-- Single Instagram Slide -->
                    <div class="single-instagram-slide">
                        <img src="/img/blog-img/insta3.jpg" alt="">
                        <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                    </div>

                    <!-- Single Instagram Slide -->
                    <div class="single-instagram-slide">
                        <img src="/img/blog-img/insta4.jpg" alt="">
                        <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                    </div>

                    <!-- Single Instagram Slide -->
                    <div class="single-instagram-slide">
                        <img src="/img/blog-img/insta5.jpg" alt="">
                        <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                    </div>

                    <!-- Single Instagram Slide -->
                    <div class="single-instagram-slide">
                        <img src="/img/blog-img/insta6.jpg" alt="">
                        <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Instagram Area End ##### -->
<!-- ##### Blog Content Area End ##### -->