<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="/img/core-img/breadcrumb-line.png" alt="">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i>Trang Chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{post.name_post}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<section class="blog-content-area section-padding-0-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Blog Posts Area -->
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">

                    <!-- Post Details Area -->
                    <div class="single-post-details-area">
                        <div class="post-thumbnail mb-30 ">
                            <img src="/uploads/img_titles/{{post.image}}" alt="" class="img-fluid"
                                style="height: auto;width: 730px;object-fit: fill;">
                        </div>
                        <div class="post-content">
                            <p class="post-date">{{timeago post.created_at}}</p>
                            <h4 class="post-title">{{post.title}}</h4>
                            <p>{{{post.content}}}</p>
                        </div>
                    </div>

                    <!-- Related Post Area -->


                    <!-- Comment Area Start -->
                    <div class="comment_area clearfix">
                        <h4 class="headline">{{soLuong.SoLuong}} Bình Luận</h4>

                        <ol>
                            {{#each comments}}
                            <li class="single_comment_area">
                                <div class="comment-wrapper d-flex">
                                    <div class="comment-content">
                                        <div class="card mb-3">
                                            <div class="card-header d-flex justify-content-between">
                                                <div>
                                                    <span class="comment-date">{{timeago this.created}}</span>
                                                    <h5>Tài Khoản: {{this.username}}
                                                    </h5>
                                                </div>
                                                {{#if (compare ../lcuser.id this.user_id)}}
                                                <a href="#" class="btn btn-light comment-date"
                                                    style="color: #e59f80; line-height: 1.5" id="delete"
                                                    data-toggle="modal" data-target="#deleteModel"
                                                    data-id="{{../lcuser.id}}" data-comment="{{this.id}}">Xóa</a>
                                                {{/if}}
                                            </div>
                                            <div class=" card-body">
                                                <p>{{this.comment}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                    </div>

                    <!-- Leave A Comment -->
                    <div class="leave-comment-area clearfix">
                        <div class="comment-form">
                            <h4 class="headline">Để Lại Bình Luận</h4>

                            <!-- Comment Form -->
                            <form onsubmit="return doComment(this);" method="post" action="/user/comment/{{post.id}}">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <input type="hidden" class="form-control" id="post_id" value="{{post.id}}">
                                        </div>
                                    </div>
                                    {{#if user}}
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <input type="hidden" class="form-control" id="user_id" value="{{user.id}}">
                                        </div>
                                    </div>
                                    {{/if}}
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea class="form-control" name="message" id="message" cols="30"
                                                rows="10" placeholder="Bình luận" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn foode-btn">Đăng</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            {{> sidebar}}
        </div>
        <div class="modal" id="deleteModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xóa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Bạn có muốn xóa không?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="deleteBtn">Xóa</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
        <form name="form-delete" method="GET"></form>
    </div>
    <script>
        var deleteID;
        var commentID;
        var deleteForm = document.forms['form-delete'];
        $('#deleteModel').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            deleteID = button.data('id');
            commentID = button.data('comment');
        });
        var btnDelete = $('#deleteBtn');

        btnDelete.on('click', function () {
            deleteForm.action = '/deleteComment/' + commentID;
            deleteForm.submit();
        });
    </script>
</section>