<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="top-header-content d-flex align-items-center justify-content-between">
                        <!-- Search Form -->
                        <div class="search-form">
                            <form action="/timkiem" method="get" autocomplete="off">
                                <input type="search" name="search" class="form-control"
                                    placeholder="Search and hit enter..." required>
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        {{#if lcuser}}
                        <div class="top-social-info">
                            <a>{{lcuser.username}}</a>
                            <a href="/user/logout">Đăng Xuất</a>
                            <a href="/user/profile">Hồ sơ tài khoản</a>
                        </div>
                        {{else}}
                        <div class="top-social-info">
                            <a href="/user/login">Đăng Nhập</a>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{#if success}}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{success}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span arial-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{#if comment}}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{comment}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span arial-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    <!-- Logo Area -->
    <div class="logo-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Nav brand -->
                    <a href="/" class="nav-brand"><img src="/img/core-img/logo.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="foode-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar" id="foodeNav">

                    <!-- Nav brand -->
                    <a href="/" class="nav-brand"><img src="/img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Trang Chủ</a></li>
                                <li><a href="#">Danh Mục</a>

                                    <ul class="dropdown">
                                        {{#each lcCategory}}
                                        <li><a href="/cate/{{this.slug}}">{{cate_name}}</a></li>
                                        {{/each}}
                                    </ul>

                                </li>
                                <li><a href="/about">Thông Tin</a></li>
                                <li><a href="/contact">Liên Lạc</a></li>
                            </ul>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->